# Tapo credentials
RTSP_USER=your_tapo_username
RTSP_PASS=your_tapo_password

# Tapo app credentials for PTZ/control
TAPO_USER = "usuario_tapo"
TAPO_PASS = "clave_tapo"

# Telegram configuration
TOKEN_TG=your_telegram_bot_token
CHAT_ID_TG=your_telegram_chat_id
